@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: "Dm Sans", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply w-full bg-background text-[18px] leading-[1.5] text-onBackground;
  }

  li {
    list-style: none;
  }

  a,
  i,
  img,
  span,
  iframe,
  button {
    display: block;
  }

  a {
    @apply text-inherit no-underline;
  }

  img {
    height: auto;
  }

  input,
  button {
    @apply border-none bg-none text-inherit;
    font: inherit;
  }

  input {
    width: 100%;
  }

  button {
    @apply cursor-pointer p-4 text-left;
  }

  /* Animation */
  :focus-visible {
    @apply outline-primaryVariant;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-banner;
  }
}

@layer components {
  .containerr {
    @apply desktop:h-desktop h-tablet overflow-y-overlay relative z-[1] bg-surface px-5 pb-12 pt-6 text-onSurface tablet:px-6 desktop:rounded-tl-[36px];
  }

  .heading {
    @apply font-bold leading-[1.2] text-white;
  }

  .loading-icon {
    @apply absolute right-0 top-1/2 translate-y-[-50%] p-2 text-xl opacity-50;
  }

  .search-hover {
    box-shadow: 0 0 0 2px white;
  }

  .search-fade-in {
    animation: searchFadeIn 0.5s ease-in-out;
  }

  @keyframes searchFadeIn {
    from {
      opacity: 0.6;
      clip-path: inset(0 0 0 100%);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0%);
    }
  }

  .btn-bg {
    @apply h-12 w-12 cursor-pointer rounded-lg bg-banner text-center text-lg leading-[48px]  tablet:hidden;
  }

  .sidebar-list {
    @apply grid gap-[10px] px-9 desktop:px-14;
  }

  .genere-list {
    @apply transition-short text-onSurfaceVariant hover:text-white;
  }

  .h-desktop {
    height: calc(100dvh - 104px);
  }

  .h-tablet {
    height: calc(100dvh - 96px);
  }

  .border-sidebar {
    @apply border-t-[1px] border-solid border-t-banner;
  }

  .sidebar::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  .sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    @apply bg-banner;
  }

  .banner-slider .slider-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      90deg,
      hsl(237.1deg 17% 7%) 0%,
      hsl(0deg 0% 100% / 8%) 60%
    );
  }

  .banner-content {
    text-shadow: 0 0 2px #000;
  }

  .banner-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  .left-slider-mobile {
    left: calc(100% - 400px);
  }

  .card-badge {
    @apply rounded-[4px] bg-banner px-[6px] text-[14px] font-bold text-white;
  }

  .img-cover {
    @apply h-full w-full object-cover;
  }

  .meta-list {
    @apply flex flex-wrap items-center justify-start gap-3;
  }

  .iconDot {
    @apply h-1 w-1 rounded-lg bg-whiteAlpha20;
  }

  .list-info {
    @apply mb-3 flex items-start gap-2;
  }

  .list-name {
    @apply min-w-[112px] text-textColor;
  }

  .poster-box,
  .video-card {
    @apply overflow-hidden rounded-2xl bg-banner bg-center bg-no-repeat;
    background-size: 50px;
  }

  .video-card {
    background-image: url("./assets/icons/video-bg-icon.png");
    width: calc(100% - 40px);
    @apply aspect-[16/9] max-w-[500px] flex-shrink-0;
  }

  .poster-box {
    background-image: url("./assets/icons/poster-bg-icon.png");
    aspect-ratio: 2 / 3;
  }

  .backdrop-image {
    background-image: url("./assets/images/slider-banner.jpg");
    @apply absolute left-0 top-0 z-[-1] h-[600px] w-full bg-cover bg-center bg-no-repeat desktop:rounded-tl-[36px];
  }

  .backdrop-image::after {
    content: "";
    background-image: linear-gradient(
      0deg,
      hsla(250, 13%, 11%, 1),
      hsla(250, 13%, 11%, 0.8)
    );
    @apply absolute inset-0;
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 20px;
  }

  .btn {
    @apply transition-short flex max-w-max items-center gap-3 rounded-lg bg-primary py-3 pl-5 pr-6 text-[15px] font-bold text-white hover:opacity-[0.65];
  }

  .slider-item {
    @apply w-[100px] flex-shrink-0 cursor-pointer rounded-lg brightness-100;
    transition: opacity 500ms ease;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  }
}

@layer utilities {
  .loading-search {
    animation: spinner 1s linear infinite;
  }

  .loading-page {
    animation: spinner 1.5s linear infinite;
  }

  @keyframes spinner {
    from {
      transform: translateY(-50%) rotate(0);
    }
    to {
      transform: translateY(-50%) rotate(1turn);
    }
  }

  .boxshadow-searchfield:focus {
    box-shadow: 0 0 0 2px hsla(250, 100%, 95%, 1);
  }

  .transition-short {
    transition: 250ms ease;
  }

  .transition-long {
    transition: 500ms ease;
  }

  .transition-sidebar {
    animation: overlayFadeIn 500ms ease;
  }

  @keyframes overlayFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }

  .overflow-y-overlay {
    overflow-y: overlay;
  }

  .overflow-x-overlay {
    overflow-x: overlay;
  }

  .grid-cols-main {
    grid-template-columns: 250px 1fr;
  }

  .etc-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .title-banner {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }

  /* Slick custom */
  .slick-custom {
    .slick-slide {
      @apply mx-2;
    }

    .slick-arrow {
      @apply top-[150px] z-10 h-[30px] w-[30px] opacity-0 hover:opacity-100 tablet:opacity-30;
    }
    .slick-arrow::before {
      @apply text-[44px];
    }

    .slick-prev {
      @apply left-0;
    }

    .slick-next {
      @apply right-4;
    }

    /* .slick-custom:hover ~ .slick-arrow {
      @apply opacity-100;
    } */
  }
}
